# ==========================
# .NET Core backend
# ==========================
backend/**/bin/
backend/**/obj/
backend/**/.vs/
backend/**/BuildHost-net472/
backend/**/BuildHost-netcore/
backend/**/*.user
backend/**/*.suo
backend/**/*.cache
backend/**/*.db

# ==========================
# Angular frontend
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/**/*.env

# ==========================
# General
# ==========================
*.log
*.tmp
